[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "matplotlib>=3.10.7",
    "pillow>=12.0.0",
    "pygame>=2.6.1",
    "pyvirtualdisplay>=3.0",
]
